# ========================
# Dependencies
# ========================
node_modules/
.pnp
.pnp.js

# ========================
# Build outputs
# ========================
dist/
dist-ssr/
build/
out/

# ========================
# Vite
# ========================
*.local
.vite/

# ========================
# Logs
# ========================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ========================
# Environment variables
# ========================
.env
.env.local
.env.*.local
.env.development
.env.test
.env.production

# ========================
# Testing
# ========================
coverage/
.nyc_output/

# ========================
# Cache
# ========================
.cache/
.parcel-cache/
.eslintcache
.stylelintcache

# ========================
# macOS
# ========================
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# ========================
# Editor & IDE
# ========================
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp
*.swo
*~

# ========================
# TypeScript
# ========================
*.tsbuildinfo

# ========================
# Misc
# ========================
*.pem
.vercel
.netlify
